*{
  font-family: "Garamond";
}

table {
  text-align: left;
  border: 1px solid rgba(30,30,30,0.7);
  margin-bottom: 20px;
}

table td{
  border: 1px solid rgba(30,30,30,0.7);
  padding-right: 65px;
}

.entry {
  margin-bottom: 10px;
}
